<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel = "stylesheet" href = "../static/css/styles.css">
    <title> Dashboard </title>
</head>
<body>
    <div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark px-3 custom-nav">
                <p class="navbar-brand my-0"> Hello {{name}} </p>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav w-100">
                        <li class="nav-item active">
                            <a class="nav-link" href = "{{ url_for('user_bp.user_dashboard') }}"> Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/summary"> Summary </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout"> Logout </a>
                        </li>
                        <li class="nav-item ms-lg-auto">
                            <a class="nav-link" href="{{ url_for('user_bp.user_profile') }}"> Profile </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div>
            <div class = "m-5 scroll-container">
                <h3 class = "text-center my-3"> Previous Reservations </h3>
                {% if not history %}
                    <div class = "error">
                        <p class = "text-center"> No reservations found </p>
                    </div>
                {% else %}
                    <table class = "table table-bordered">
                        <tr>
                            <th> Reservation ID </th>
                            <th> Location </th>
                            <th> Vehicle No </th>
                            <th> Parking Timestamp </th>
                            <th> Action </th>
                        </tr>
                        {% for row in history %}
                            <tr>
                                <td> {{row.res_id}} </td>
                                <td> {{row.prime_loc_name}} </td>
                                <td> {{row.vehicle_no}} </td>
                                <td> {{ row.parking_timestamp.split('.')[0] }} </td>
                                <td>
                                    {% if row.leaving_timestamp is none %}
                                        <a class = "btn btn-danger" href = "{{ url_for('user_bp.releasespot', res_id = row.res_id)}}"> Release </a>
                                    {% else %}
                                        <p class = "btn btn-success"> Parked Out </p>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                <hr/>
            </div>
            <div>
                <form action = "/user/dashboard" method = "post">
                    <div class = "form-floating d-block mx-auto w-50">
                        <input type = "text" class = "form-control my-3" name = "searchBar" placeholder = "Location / Pincode" required>
                        <label for = "searchBar"> Search Parking @location / pin code: </label>
                    </div>
                </form>
                {% if flag %}
                    <div class = "scroll-container m-5">
                        <h3 class = "text-center m-4"> Parking Lots @ {{prime}} </h3>
                        {% if not result %}
                            <div class = "error">
                                <p class = "text-center"> No Parking Lots Found </p>
                            </div>
                        {% else %}
                            <table class = "table table-bordered">
                                <tr>
                                    <th> ID </th>
                                    <th> Address </th>
                                    <th> Availability </th>
                                    <th> Action </th>
                                </tr>
                                {% for row in result %}
                                    <tr>
                                        <td> {{row.lot_id}} </td>
                                        <td> {{row.address}} </td>
                                        <td> {{row.spots}} </td>
                                        <td> <a href = "{{ url_for('user_bp.bookspot', lot_id = row.lot_id)}}" class = "btn submit-btn"> Book </a>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>